body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#root #mainDiv {
  height: 100vh;
}

#root .LightTheme {
  color: black;
  background-color: white;
}

#root .DarkTheme {
  color: white;
  background-color: black;
}

.homeDiv,
.loginDiv {
  margin: 5%;
  padding: 20px;
}

#loginBtn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  background-color: cornflowerblue;
}
